body {
  margin: 0;
  font-family: Arial;
  background: #010c2c;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #00d3dd;
}

/* CALENDAR */
#calendar {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  min-height: 800px;
}

/* WEEK */
.week-bar {
  margin-top: 15px;
  background: #0b1a3a;
  padding: 12px;
  border-radius: 10px;
}

#weekRange {
  text-align: center;
  font-weight: bold;
  color: #00e5ff;
  margin-bottom: 10px;
}

#weekDays {
  
  gap: 8px;
 
  display: inline-grid;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
  justify-items: stretch;
  grid-auto-flow: column;
}

.week-day {
  background: #020f2a;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.week-day.active {
  background: #00e5ff;
  color: black;
}

/* PLAYERS */
.stats {
  margin-top: 20px;
  background: #0b1a3a;
  padding: 15px;
  border-radius: 10px;
}

.player-card {
  background: #020f2a;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.player-name {
  color: #3c9195;
  font-weight: bold;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #010c2c;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* USER */
#currentPlayerDisplay {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  background: #3c9195;
  color: #010c2c;
  padding: 6px;
  border-radius: 8px;
  font-weight: bold;
}

#modalPlayerName {
  font-weight: bold;
  color: #3c9195;
}

 .fc .fc-button{
    background-color: #3c9195 !important;
    border-color: #3c9195 !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.fc .fc-button:hover {
    background-color: #00d3dd !important;
    border-color: #00d3dd !important;
}

.fc .fc-button:disabled{

    opacity: 1 !important;
}

.fc .fc-button-primary:focus
 {
    box-shadow: rgb(76 91 106 / 0%) 0px 0px 0px 0.2rem !important;

:root {   
   --fc-neutral-bg-color: hsl(0deg 0% 0% / 51%);
}
   
.edit-btn
 {
    background: #010c2c;
    border: none;
    cursor: pointer;
    color: #3c9195;
    font-weight: bold;
    font-size: 16px;
}
