body {
  margin: 0;
  font-family: Arial;
  background: #010c2c;
  color: white;
}

.container {
  padding: 20px;
}

.layout {
  display: flex;
  gap: 15px;
}

/* EVENTS LEFT */
#eventsPanel {
  width: 250px;
  background: #0b1a3a;
  padding: 10px;
  border-radius: 10px;
}

.event-card {
  background: #3c9195;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.event-card button {
  width: 100%;
  margin-top: 5px;
}

/* CENTER */
.center {
  flex: 1;
}

/* CALENDAR */
#calendar {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

/* MODALS */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #3c9195;
  padding: 20px;
  border-radius: 10px;
}

/* BUTTON ADMIN */
#currenteventDisplay button {
  background: #0b1a3a;
}
